*.swp
.DS_Store
bdd_add1.aux
bdd_add2.aux
bdd_c1.aux
bdd_c1_1.aux
bdd_c1_2.aux
bdd_c1_3.aux
bdd_c1_4.aux
bdd_c1_5.aux
bdd_c1_6.aux
bdd_c2_bad.aux
gnuplot-lua-tikz.sty
long_multiplication.aux
performance_mul.aux
performance_mul.tex
pres.aux
pres.log
pres.nav
pres.out
pres.pdf
pres.snm
pres.toc
so_program_length.aux
so_program_length.tex
so_program_length_1.aux
so_program_length_1.tex
so_program_length_2.aux
so_program_length_2.tex
so_program_length_3.aux
so_program_length_3.tex
spec.aux
spec.bbl
spec.blg
spec.log
spec.out
spec.pdf
thesis.aux
thesis.bbl
thesis.blg
thesis.log
thesis.out
thesis.pdf
thesis.toc
