*.swp
.DS_Store
bdd_add1.aux
bdd_add2.aux
bdd_c1.aux
bdd_c2_bad.aux
gnuplot-lua-tikz.sty
long_multiplication.aux
performance_mul.aux
performance_mul.tex
pres.aux
pres.log
pres.nav
pres.out
pres.pdf
pres.snm
pres.toc
so_program_length.aux
so_program_length.tex
spec.aux
spec.bbl
spec.blg
spec.log
spec.out
spec.pdf
thesis.aux
thesis.bbl
thesis.blg
thesis.log
thesis.out
thesis.pdf
thesis.toc
